<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark"> 
  <a style="color: white;" class="navbar-brand" href="#">NOVACARE HOSPITALS</a> 
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span> 
  </button> 

  <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
      <li class="nav-item"> 
        <a style="color: white;" class="nav-link active" aria-current="page" routerLink="/doctor">Back</a> 
      </li> 
    </ul> 
  </div> 
</nav>

<div class="container mt-4">
  <h2 class="text-center mb-4">Add New Doctor</h2>
  <form (ngSubmit)="saveDoctor()" #doctorForm="ngForm">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" required [(ngModel)]="doctor.name" name="name">
    </div>
    <div class="mb-3">
      <label>Specialization</label>
      <input type="text" class="form-control" required [(ngModel)]="doctor.specialization" name="specialization">
    </div>
    <div class="mb-3">
      <label>Experience</label>
      <input type="number" class="form-control" required [(ngModel)]="doctor.experience" name="experience">
    </div>
    <div class="mb-3">
      <label>Availability</label>
      <input type="text" class="form-control" required [(ngModel)]="doctor.availability" name="availability">
    </div>
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>